@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 7, 18;
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer components {
  .glass-card {
    @apply bg-graphite-900/50 backdrop-blur-md border border-white/10 rounded-2xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-electric-blue to-blue-400;
  }
}
